:root {
    font-size: 4.25%;
    font-family: "Caprasimo", serif;
    font-style: normal;
    --color-gray: #4E5D70;
    --color-yellow: #FBF2D2;
    --color-pink: #F798BA;
    --color-lilac: #CAA4F7;
    background-color: var(--color-yellow);
    color: var(--color-gray);

}

body {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0 30rem;


}

h1 {
    font-size: 84rem;
    font-weight: 400;
    margin: 18rem;
}

h2 {
    font-size: 27rem;
    font-weight: 100;
    margin: 0;
}

.headline {
    display: flex;
    flex-direction: column;
    max-width: min-content;
    align-items: start;
    justify-content: start;
    margin: auto 70rem;
}

.area-container {
    border-radius: 76rem;
    background-color: var(--color-gray);
    padding: 45rem;
    display: flex;
    align-items: center;
    min-width: 100% 1400rem;
    max-height: 500rem;
    margin-left: 350rem;

}

.area-container .first {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.line-v {
    border: 2.25rem dashed white;
    width: 0;
    height: 105rem;
}

.line-h {
    border: 2.25rem dashed white;
    height: 0;
    width: 185rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.second .slot {
    display: flex;
    align-items: center;

}

.area-buttons {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 1%;
    bottom: 17%;
    gap: 5rem;
}

button {
    border-radius: 22rem;
    padding: 16rem 24rem;
    font-family: "Caprasimo", serif;
    color: #fff;
    border: 0;
    margin: 6rem;
    transition-duration: 0.4s;
    cursor: pointer;
}

#encryption {
    background-color: var(--color-pink);
}

#decryption {
    background-color: var(--color-lilac);
}

#encryption:hover {
    box-shadow: rgba(231, 91, 180, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px
}

#decryption:hover {
    box-shadow: rgba(160, 97, 211, 0.4) 0px 5px, rgba(201, 46, 240, 0.3) 0px 10px, rgba(207, 92, 230, 0.2) 0px 15px
}


.line-end-up {
    border-left: 14rem solid transparent;
    border-right: 14rem solid transparent;
    border-bottom: 14rem solid white;
}

.line-end-down {
    border-left: 14rem solid transparent;
    border-right: 14rem solid transparent;
    border-top: 14rem solid white;
}

.line-end-left {
    border-right: 14rem solid white;
    border-top: 14rem solid transparent;
    border-bottom: 14rem solid transparent;
}

.area-container .second {
    display: flex;
    flex-direction: column;
    gap: 200rem;

}

.container {
    border-radius: 36rem;
    color: white;
    background-color: #818D9F;
    padding: 38rem;
    display: flex;
    flex-direction: column;
    gap: 12rem;
    height: 150rem;
    width: 300rem;
    align-items: center;
}

.key {
    background-color: #B4CDED;
    color: var(--color-gray);
    height: fit-content;
}


.result {
    background-color: var(--color-pink);
}



textarea {
    border-radius: 30rem;
    width: 100%;
    height: 150rem;
    padding: 18rem 20rem;
    box-sizing: border-box;
    resize: none;
    border: none;
    font-family: "Bree Serif", serif;
    font-size: large;
    color: var(--color-gray);
}

.key textarea {
    padding: 6rem 20rem;
}

textarea:focus {
    outline: #77668e solid 2rem;
}

.key textarea {
    height: 60rem;

}

::-moz-selection {
    color: #2e5586;
}

::selection {
    background: #FBF2D2;
    color: var(--color-gray);
    border-radius: 20rem;
}